    <div class="nav-placeholder">
        <nav>
            <div class="nav-top">
                <img class="small-logo" src="/images/logo.svg" alt="">
                <div class="menu-item-layout">
                    <img src="/images/clinitian-profile-pic.svg" alt="profile picture">
                    <h3>Doctor name</h3>
                </div>
                <div class="menu-section">
                    <a href="../clinician/home" class="menu-item-layout menu-item 
                    {{#if menu.dashboard}}selected{{/if}}">
                        <span class="material-icons">dashboard</span>
                        <h3>Dashboard</h3>
                    </a>
                    <a href="../clinician/my-patient" class="menu-item-layout menu-item 
                    {{#if menu.myPatient}}selected{{/if}}">
                        <span class="material-icons">group</span>
                        <h3>My Patients</h3>
                    </a>
                    <a href="../clinician/new-patient" class="menu-item-layout menu-item 
                    {{#if menu.newPatient}}selected{{/if}}">
                        <span class="material-icons">person_add</span>
                        <h3>New Patient</h3>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <a href="../clinician/profile" class="menu-item-layout menu-item">
                    <span class="material-icons">account_circle</span>
                    <h3>Account</h3>
                </a>
                <a href="../clinician/settings" class="menu-item-layout menu-item">
                    <span class="material-icons">settings</span>
                    <h3>Settings</h3>
                </a>
            </div>
        </nav>
    </div>