<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/darkcolor.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/patient-main.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/hamburger-nav.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/cxa4uzj.css">
    <script type="text/javascript" src="/js/pop-up-window.js"></script>
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}
</body>


</html>