<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/colour.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/patient-main.css">
    <link rel="stylesheet" href="/css/hamburger-nav.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/cxa4uzj.css">
    <title>{{title}}</title>
</head>

<script>
        function openMenu() {
            document.getElementById("responsive-nav").style.display = "flex";
        }

        function closeMenu() {
            document.getElementById("responsive-nav").style.display = "none";
        }

        function showModel(){
            var model = document.getElementById("successful-update-data");
            model.style.display = "block";
        }

        function closeModel(){
            var model = document.getElementById("successful-update-data");
            model.style.display = "none";
        }
</script>

<body>
    {{{body}}}
</body>


</html>