<body>
    <div class="page">
        <div class="topnav">
            <a href="../patient/home">
                <span class="material-icons-round blue-text">arrow_back_ios</span>
            </a>
            <div class="menu-flex">
                <h3>Hi, {{patient.nickName}}!</h3>
            </div>
            <nav class="drop-down">
                <ul>
                    <li onclick="void(0)"><span class="material-icons-round">expand_more</span>
                        <div id="login">{{patient.nickName}} {{patient.familyName}}</div>
                    </li>
                </ul>
            </nav>
        </div>
    

    <div id="about-page">
            <h1>About Diabetes@Home</h1>
            <div>
                <p class="centre-text">
                    Diabetes@Home is a website to help you manage your diabetes in the comfort of your own home.
                </p>
                <p class="centre-text">
                    The main features of this website can be accessed by logging in. Diabetes@Home works by asking you to fill our your daily heath data checklist once per day. This data that you record will be monitored by your clinician to help you stay on track!
                </p>
                <p class="centre-text">
                    Diabetes@Home was built by current University of Melbourne students as a part of a project for Web Information Technologies (INFO30005).
                </p>
            </div>
        <img class="logo-about"  src="/images/clearpic.png" alt="">
        </div>
    </div>
</body>