<div class="topnav">
    <a href="/"><img class="small-logo" src="/images/logo-small.svg" alt=""></a>
    <div class="menu-flex">
        <a href="/#what-is-diabetes">What is diabetes?</a>
        <a href="/about">About</a>
    </div>
</div>

<div class="split-screen">
    <div class="left">
        <img class="logo-sub" src="/images/logo.svg" alt="">
        <section class="copy">
            <h2>Helping you manage your diabetes</h2>
            <h2>in the comfort of your own home.</h2>
        </section>
        <img class="tablet-image" src="/images/homepage-splashimg.svg" alt="">
    </div>

    <div class="right">
        <div class="outercontainer">
            <img class="logo-sub-login" src="/images/logo.svg" alt="">
            <h2 class="blue-text" id="center-word">Clinician Login</h2>

            {{!-- <form method="post">
                <div class="login-container">
                    <input type="text" placeholder="Username" name="uname">
                    </br>
                    <input type="password" placeholder="Password" name="psw">
                    </br>
                    </br>
                    <button id="login-check" class="submit" href="../clinician/home" onclick="logIn()">Login</button>
                </div>
            </form> --}}

            <form method="post" class="section">
                <div class="floating">
                    <input class=" floating__input" id="username" name="username" placeholder="Username" type="text" required>
                    <label for="username" class="floating__label" data-content="Email">
                        <span class="hidden--visually">Email</span>
                    </label>
                </div>

                <div class="floating">
                    <input class="floating__input" id="password" name="password" placeholder="Password" type="password" required>
                    <label for="password" class="floating__label" data-content="Password">
                        <span class="hidden--visually">Password</span>
                    </label>
                </div>
                <button id="login-check" class="submit" href="/login">Login</button>
                {{#each flash}}
                <div style="color: red;">{{this}}</div>
                {{/each}}
            </form>
            <span class="blue-text" id="center-word">To login as a patient please click <a href="/patient/login"
                    id="underline">here</a></span>
        </div>
    </div>
</div>
</div>