<div class="topnav">
    <a href="../index"><img class="small-logo" src="/images/logo-small.svg" alt=""></a>
    <div class="menu-flex">
        <a href="../index#what-is-diabetes">What is diabetes?</a>
        <a href="../intro">About</a>
    </div>
</div>

    <div class="split-screen">
        <div class="left">
            <img class="logo-sub" src="/images/logo.svg" alt="">
            <section class="copy">
                <h2>Helping you manage your diabetes</h2>
                <h2>in the comfort of your own home.</h2>
            </section>
            <img class="tablet-image" src="/images/homepage-splashimg.svg" alt="">
        </div>

        <div class="right">
            <div class="outercontainer">
                <img class="logo-sub-login" src="/images/logo.svg" alt="">
                <h2 class="blue-text" id="center-word">Clinician Login</h2>

                <form method="post">
                    <div class="login-container">
                        <input type="text" placeholder="Username" name="uname">
                        </br>
                        <input type="password" placeholder="Password" name="psw">
                        </br>
                        </br>
                        <button id = "login-check" class="submit" href="../clinician/home">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
