<div class="flex-column blue-background">
    <div>
        <img class="help-img" src="/images/help1.svg" alt="">
        <div class="centre-text gap">
            <h3>Helping you manage your diabetes.</h3>
            <p class="centre-text">Diabetes@Home is a website to help you manage your diabetes in the comfort of your
                own home. </p>
        </div>
    </div>
    <div class="space-between">
        <a class="skip-button button help-button" href="../patient/home">Done</a>
        <a class="button help-button" href="../patient/help-two">Continue</a>
    </div>
</div>