<div class="flex-column blue-background">
    <div>
        <img class="help-img" src="../static/images/help4.svg" alt="">
        <div class="centre-text gap">
            <h3>Top the leaderboard!</h3>
            <p class="centre-text">The top five members with the highest engagement rate will be displayed on the
                leaderboard.
                Remember to track your health data everyday to improve your score!</p>
        </div>
    </div>
    <div class="space-between">
        <a class="skip-button button help-button" href="">Skip</a>
        <a class="button help-button" href="">Continue</a>
    </div>
</div>