<div class="flex-column blue-background">
    <div>
        <img class="help-img" src="../static/images/help3.svg" alt="">
        <div class="centre-text gap">
            <h3>Data Sharing and Privacy.</h3>
            <p class="centre-text">The health data you record will be sent to your clinician. Your clinician will help
                you manage your diabetes remotely. In addition, clinicians can message you words of encouragement!</p>
        </div>
    </div>
    <div class="space-between">
        <a class="skip-button button help-button" href="../patient/home">Skip</a>
        <a class="button help-button" href="../patient/help-four">Continue</a>
    </div>
</div>