<div class="flex-column blue-background">
    <div>
        <img class="help-img" src="../static/images/help2.svg" alt="">
        <div class="centre-text gap">
            <h3>Recording health data.</h3>
            <p class="centre-text">Diabetes@Home requires you to fill our your daily checklist once per day. The health
                data that your clinician has asked you to record is under ‘My Checklist’. To make a health record entry,
                simply click on the health data and fill out the log page!</p>
        </div>
    </div>
    <div class="space-between">
        <a class="skip-button button help-button" href="">Skip</a>
        <a class="button help-button" href="">Continue</a>
    </div>
</div>