<div class="topnav">
    <a href="/"><img class="small-logo" src="/images/logo-small.svg" alt=""></a>
    <div class="menu-flex">
        <a href="/#what-is-diabetes">What is diabetes?</a>
        <a href="/about">About</a>
    </div>

    <nav class="drop-down">
        <ul>
            <li onclick="void(0)">
                <span class="material-icons-round">expand_more</span>
                <ul>
                    <li><a style="font-size:16px" href="/#what-is-diabetes">What is
                            diabetes?</a></li>
                    <li><a style="font-size:16px" href="/about">About this site</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="split-screen">

    <div class="left">
        <img class="logo-sub" src="/images/logo.svg" alt="">
        <section class="copy">
            <h2>Helping you manage your diabetes</h2>
            <h2>in the comfort of your own home.</h2>
        </section>
        <img class="tablet-image" src="/images/homepage-splashimg.svg" alt="">
    </div>

    <div class="right">
        <div class="outercontainer">
            <img class="logo-sub-login" src="/images/logo.svg" alt="">
            <h2 class="blue-text" id="center-word">Patient Login</h2>
            <form method="post" class="section">
                <div class="floating">
                    <input class=" floating__input" id="username" name="username" placeholder="Username" type="text"
                        required>
                    <label for="username" class="floating__label" data-content="Email">
                        <span class="hidden--visually">Email</span>
                    </label>
                </div>

                <div class="floating">
                    <input class="floating__input" id="password" name="password" placeholder="Password" type="password"
                        required>
                    <label for="password" class="floating__label" data-content="Password">
                        <span class="hidden--visually">Password</span>
                    </label>
                </div>
                <button id="login-check" class="submit" href="/login">Login</button>
                {{#each flash}}
                <div style="color: red; text-align: center;">{{this}}</div>
                {{/each}}
            </form>
            <span class="blue-text" id="center-word">To login as a clincian please click <a href="/clinician/login"
                    id="underline">here</a></span>
        </div>
    </div>
</div>