<div class="ts-body" id="ts-body">
    <div id="responsive-nav" class="menu-container responsive-nav">
        <div class="responsive-nav-top">
            <img class="small-logo" src="/images/white-logo.svg" alt="">
            <span onclick="closeMenu()" class="material-icons-round white-text" id="menu-opener">apps</span>
        </div>
        <div class="grid-menu white-text" scroll="no">
            <a class="white-text menu-square" href="../../patient/home">
                <span class="material-icons-round menu-icon">check</span>
                <h3>My Checklist</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/leaderboard">
                <span class="material-icons-round menu-icon">leaderboard</span>
                <h3>Leaderboard</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/history">
                <span class="material-icons-round menu-icon">history</span>
                <h3>Log History</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/help-one">
                <span class="material-icons-round menu-icon">help</span>
                <h3>Help</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/profile">
                <span class="material-icons-round menu-icon">person</span>
                <h3>Account</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/settings">
                <span class="material-icons-round menu-icon">settings</span>
                <h3>Settings</h3>
            </a>
            <a class="white-text menu-square" href="../../about">
                <span class="material-icons-round menu-icon">web</span>
                <h3>About this site</h3>
            </a>

            <a class="white-text menu-square" href="../patient/logout">
                <span class="material-icons-round menu-icon">logout</span>
                <h3>logout</h3>
            </a>

        </div>
    </div>

    <div class="responsive-nav responsive-nav-top">
        <a href="../../patient/home"><img class="small-logo" src="/images/logo.svg" alt=""></a>
        <div onclick="openMenu()" class="square-menu">
            <span class="material-icons-round blue-text" id="menu-opener">apps</span>
        </div>
    </div>

    <div class="nav-placeholder">
        <nav class="patient-nav">
            <div class="nav-top">
                <img class="small-logo" src="/images/logo.svg" alt="">
                <div class="menu-item-layout">
                    <img class="nav-profile-pic" src="/images/patient-profile-pic.svg" alt="profile picture">
                    <h3>{{thisPatient.nickName}} {{thisPatient.familyName}}</h3>
                </div>
                <div class="menu-section">
                    <a href="../../patient/home" class="menu-item-layout menu-item patient-menu">
                        <span class="material-icons-round">check</span>
                        <h3>My Checklist</h3>
                    </a>
                    <a href="../../patient/leaderboard" class="menu-item-layout menu-item patient-menu patient-menu">
                        <span class="material-icons">leaderboard</span>
                        <h3>Leaderboard</h3>
                    </a>
                    <a href="../../patient/history" class="menu-item-layout menu-item patient-menu patient-menu">
                        <span class="material-icons">history</span>
                        <h3>Log history</h3>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <a href="../patient/profile" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">account_circle</span>
                    <h3>Account</h3>
                </a>
                <a href="../patient/settings" class="menu-item-layout menu-item patient-menu selected">
                    <span class="material-icons">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="../../patient/help-one" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">help</span>
                    <h3>Help</h3>
                </a>
                <a href="../patient/about" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">web</span>
                    <h3>About this site</h3>
                </a>
                <a href="../patient/logout" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">logout</span>
                    <h3>logout</h3>
                </a>
            </div>
        </nav>
    </div>

    <main class="leaderboard-container" id="dashboard-right">
        <div class="infobar">
            <div class="return-icon leaderboard-return">
                <a href="../../patient/home" class="material-icons-round blue-text">arrow_back_ios</a>
            </div>
            <div class="checklist-title">
                <div class="page-title-icon">
                    <a class="material-icons-round blue-text">settings</a>
                    <h3 class="blue-text">Settings</h3>
                </div>
            </div>
        </div>
        <div class="learderboard-box loghistory-box">
            <div>
                <section id="blue-main-page">
                    <div class="inside-container">

                        <ul class="details-container">
                            <div class="setting-title">
                                <h3 class="p-dark">Customise appearance</h3>
                                <div class="setting-box">
                                    <form method="post" class="details-container">
                                        <div class="floating setting-input non-type-input space-between colour-setting-box setting-box">
                                            <h3 class="blue-text"><label for="colourscheme">Colour Preference</label></h3>
                                            <div class="space-between">
                                                <div class="space-between">
                                                <input class="h3-size" type="radio" id="light" name="colourTheme"
                                                    value="Light" checked>
                                                  <label class="h3-size" for="light">Light</label><br>
                                            </div>
                                            <div class="space-between">
                                                <input class="h3-size" type="radio" id="dark" name="colourTheme"
                                                    value="dark">
                                                  <label class="h3-size" for="dark">Dark</label><br>
                                            </div>
                                            </div>
                                            
                                        </div>

                                        <a type="submit" class="setting-button button" onclick="showModel()">Update</a>
                                        {{!-- <span class="button button-width-20" onclick="showModel()">Save</button> --}}
                                    </form>
                                </div>
                            </div>
                        </ul>
                    </div>
                </section>
            </div>

        </div>
    </main>
    <div id="hidebg"></div>

    {{!-- Pop up window after post message --}}

    <div class="pop-up-container" id="successful-update-data" scroll="no">
        <div class="pop-up-string">
            <br>
            <br>
            <h3>Your colour preference</h3>
            <h3>has successfully</h3>
            <h3>updated!</h3>

        </div>
        <a href="../../patient/home">
            <span class="button submit" onclick="closeModel()">Home</span>
        </a>

    </div>