 <main class="dashboard-container">

        <div class="dashboard-left">
        </div>

        <div class="dashboard-right centre-content">
            <div class="page-title-and-nav">
                <span class="material-icons-round blue-text">arrow_back_ios</span>
                <div class="page-title-icon">
                    <span class="data-icon material-icons-round blue-text">scale</span>
                    <h3 class="blue-text">Weight Log</h3>
                </div>
            </div>

            <div id="blue-main-page" class="centre-flex">
                <input class="enter-data-box" type="text" placeholder="Kg">
                <div class="date-time-container">
                    <div class="page-title-icon">
                        <span class="material-icons-round blue-text">schedule</span>
                        <p>Date & Time</p>
                    </div>
                    <p class="p-dark">10/3/22, 8:15pm</p>
                </div>
                <div>
                    <div class="page-title-icon on-top">
                        <span class="material-icons-round blue-text">edit</span>
                        <p>Notes</p>
                    </div>
                    <!-- <input class="notes-container" type="text" placeholder="Take a note of something...">
                        </input> -->

                    <div class="notes-container">
                        <textarea id="message-input" cols="30 " rows="10 ">Take a note of something...</textarea>
                    </div>
                </div>
                <a class="button button-width-20" href="">Save</a>
            </div>

    </main>