<div class="ts-body" id="ts-body">
    <div id="responsive-nav" class="menu-container responsive-nav">
        <div class="responsive-nav-top">
            <img class="small-logo" src="/images/white-logo.svg" alt="">
            <span onclick="closeMenu()" class="material-icons-round white-text" id="menu-opener">apps</span>
        </div>
        <div class="grid-menu white-text" scroll="no">
            <a class="white-text menu-square" href="../../patient/home">
                <span class="material-icons-round menu-icon">check</span>
                <h3>My Checklist</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/leaderboard">
                <span class="material-icons-round menu-icon">leaderboard</span>
                <h3>Leaderboard</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/history">
                <span class="material-icons-round menu-icon">history</span>
                <h3>Log History</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/help-one">
                <span class="material-icons-round menu-icon">help</span>
                <h3>Help</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/profile">
                <span class="material-icons-round menu-icon">person</span>
                <h3>Account</h3>
            </a>
            <a class="white-text menu-square" href="../../patient/settings">
                <span class="material-icons-round menu-icon">settings</span>
                <h3>Settings</h3>
            </a>
            <a class="white-text menu-square" href="../../about">
                <span class="material-icons-round menu-icon">web</span>
                <h3>About this site</h3>
            </a>

            <a class="white-text menu-square" href="../patient/logout">
                <span class="material-icons-round menu-icon">logout</span>
                <h3>logout</h3>
            </a>

        </div>
    </div>

    <div class="responsive-nav responsive-nav-top">
        <a href="../../patient/home"><img class="small-logo" src="/images/logo.svg" alt=""></a>
        <div onclick="openMenu()" class="square-menu">
            <span class="material-icons-round blue-text" id="menu-opener">apps</span>
        </div>
    </div>

    <div class="nav-placeholder">
        <nav class="patient-nav">
            <div class="nav-top">
                <img class="small-logo" src="/images/logo.svg" alt="">
                <div class="menu-item-layout">
                    <img class="nav-profile-pic" src="/images/patient-profile-pic.svg" alt="profile picture">
                    <h3>{{thisPatient.nickName}} {{thisPatient.familyName}}</h3>
                </div>
                <div class="menu-section">
                    <a href="../../patient/home" class="menu-item-layout menu-item patient-menu">
                        <span class="material-icons-round">check</span>
                        <h3>My Checklist</h3>
                    </a>
                    <a href="../../patient/leaderboard" class="menu-item-layout menu-item patient-menu patient-menu">
                        <span class="material-icons">leaderboard</span>
                        <h3>Leaderboard</h3>
                    </a>
                    <a href="../../patient/history" class="menu-item-layout menu-item patient-menu patient-menu">
                        <span class="material-icons">history</span>
                        <h3>Log history</h3>
                    </a>
                </div>
            </div>
            <div class="menu-section">
                <a href="../patient/profile" class="menu-item-layout menu-item selected">
                    <span class="material-icons">account_circle</span>
                    <h3>Account</h3>
                </a>
                <a href="../patient/settings" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="../patient/help-one" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">help</span>
                    <h3>Help</h3>
                </a>
                <a href="../patient/about" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">web</span>
                    <h3>About this site</h3>
                </a>
                <a href="../patient/logout" class="menu-item-layout menu-item patient-menu">
                    <span class="material-icons">logout</span>
                    <h3>logout</h3>
                </a>
            </div>
        </nav>
    </div>

    <main class="dashboard-container">

        <div class="dashboard-right enter-ts-container" id="dashboard-right">
            <div class="infobar">
                <div class="return-icon leaderboard-return">
                    <a href="../../patient/profile" class="material-icons-round blue-text">arrow_back_ios</a>
                </div>
                <div class="checklist-title">
                    <div class="page-title-icon">
                        <a class="material-icons-round blue-text">person</a>
                        <h3 class="blue-text">Account</h3>
                    </div>
                </div>
            </div>

            <div>
                <section id="blue-main-page">
                    <div class="inside-container">

                        <ul class="details-container">
                            <div class="setting-title">
                                <h3 class="p-dark">Update Password</h3>
                                <div class="setting-box">
                                    <form method="post" id="UpdatePassword" class="update-account">
                                        <div class="floating">
                                            <input class="wide-input-account floating__input" id="newPassword"
                                                name="newPassword" placeholder="New-Password" type="password"
                                                type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
                                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters"
                                                required>
                                            <label for="newPassword" class="floating__label"
                                                data-content="New Password">
                                                <span class="hidden--visually">Password</span>
                                            </label>
                                        </div>
                                        <div class="floating">
                                            <input class="wide-input-account floating__input" id="newPassword"
                                                name="ConfirmNewPassword" placeholder="ConfirmNewPassword"
                                                type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
                                                title="Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters"
                                                required>
                                            <label for="ConfirmNewPassword" class="floating__label"
                                                data-content="Confirm New Password">
                                                <span class="hidden--visually">Confirrm New Password</span>
                                            </label>
                                        </div>
                                        <div>
                                            <p>● Must contain at least one number and one uppercase and lowercase letter
                                            </p>
                                            <p>● Must be 5 or more characters</p>
                                        </div>
                                        <button type="submit" class="setting-button button" onclick="showModel()">Update</button>
                                        {{!-- <span class="button button-width-20" onclick="showModel()">Save</button> --}}
                                    </form>
                                </div>
                            </div>
                        </ul>
                    </div>
                </section>
            </div>

        </div>
    </main>
</div>