/*GLOBAL BUTTONS STYLE*/

/*TEXT ONLY BUTTONS STYLE*/
a {
    transition: 0.5s;
    /*ANIMATION*/
    text-decoration: none;
    color: inherit;
}

a.white-text {
    color: var(--white);
}

a:hover {
    color: var(--dark-blue);
}

/*DEFAULT STYLE FOR ROUND BUTTONS*/
.button {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3em;
    text-align: center;
    box-shadow: 0px 3px 3px var(--box-shadow);
    font-size: 24px;
}

/*CUSTOM BUTTON SIZES*/
.small-button {
    padding: 8px 10px;
}

.button-width-20 {
    width: 20rem;
}

.help-button {
    display: flex;
    margin-right: 1.5rem;
    height: 50px;
    justify-content:center;
    align-items: center;

}

.skip-button {
    background-color: var(--white)!important;
    border:3px solid var(--dark-blue)!important;
    color:var(--dark-blue)!important;
    margin-left: 1.5rem;
}

/*DEFAULT STYLE FOR SUBMIT HOVER STATE*/
.button:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

/*DEFAULT STYLE FOR SUBMIT BUTTONS*/
.submit {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 50%;
    height: auto;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 3em;
    display: block;
    margin: 1rem auto;
}

.new-patient-submit {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 20rem;
    height: auto;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 3em;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*DEFAULT STYLE FOR SUBMIT HOVER STATE*/
.submit:hover {
    background-color: var(--dark-blue);
    transition: 0.5s;
}

/*SEARCH BUTTON STYLE - CLINICIAN PAGE*/
.search {
    box-shadow: none;
    width: 6rem;
    font-size:16px;

}

.setting-button {
    width: 40%!important;

}


/*DATE PICKER STYLES*/
input[type=date] {
    color: var(--dark-blue);
    font-family: effra;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    margin-left: 1rem;
}

#birthday-input {
    background-color: var(--white);
    margin-left: 0rem;
    padding: 1.4rem;
    width: 12rem;
    height: 64px !important;
    color: var(--dark-blue);
    box-shadow:none;
}

#birthday-input:focus{
    border:none;
}

.non-type-input {
    height: 64px !important;
}



/*TAB BUTTONS*/
.tab {
    overflow: hidden;
}


/* Style the buttons that are used to open the tab content */
.tablinks {
    background-color: var(--light-blue);
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2rem;
    transition: 0.3s;
    width: 49.5%;
    font-size: 24px;
    color: var(--light-grey-text);
    border-radius: 2rem 2rem 0 0;
}

/* Create an active/current tablink class */
.active {
    background-color: var(--white);
    color: var(--dark-blue);
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.add-button {
    margin-bottom: 2rem; 
}

/* Select drop down button*/
select {
    color: var(--dark-blue);
    border: none;
    font-size:24px;
}

select:active {
    border: none;
    outline: none;
}

.width-50 {
    width: 50%!important;
    margin: auto;
}
  

@media screen and (max-width: 550px) {

    .non-type-input {
        height: 6rem !important;
    }

    .help-button {
        margin-right: 0;
    }
    
    .skip-button {
        margin-left:0;
        margin: auto;
        width: 15rem;
    }

}