/*ALL PAGES*/

body {
    display: flex;
    background-color: var(--light-grey-background);
    width: 100%;
}

.clinician-main {
    position: absolute;
    left: 25%;
    width: 75%;
}

.back-button {
    color: var(--dark-blue);
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

.shadow {
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.whitebox {
    background-color: white;
}

.light-blue-box {
    background-color: var(--light-blue);
}

.main-page-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}


/*DASHBOARD*/

.dashboard-container {
    display: flex;
    gap: 3em;
    position: absolute;
    left: 25%;
    width: 70%;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
}

.outer-container {
    display: grid;
    grid-template-columns: 25% 40% 35%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.mid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.overview-info {
    display: flex;
    gap: 1em;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--dark-blue);
    color: white;
    margin-left: 0.5em;
}

.dropdown:focus {
    outline: none;
    background-color: var(--button-hover);
}

.msg-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.msgbox {
    border-radius: 1rem;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
}

.check-box-small {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.mid-container,
.patient-record {
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1.5em;
}

.comment-section {
    border-radius: 3em;
    padding: 2em;
    width: 30%;
}

.selected-patient {
    font-size: 25px;
    background-color: var(--dark-blue);
    margin-right: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 20px;
}

.icon-gap {
    margin-left: 10px;
}

th {
    color: var(--dark-blue);
    text-align: middle;
    vertical-align: middle;
}

td {
    padding: 2px;
    height: 2.5em;
    width: 10em;
    text-align: middle;
    vertical-align: middle;
}


/*ALL PATIENT PAGE*/

.left-container {
    width: 77%;
}

.my-patient-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.patient-record {
    background-color: white;
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    padding: 2em;
    margin-top: 1em;
}

.my-patient-container {
    display: flex;
    gap: 2em;
    position: absolute;
    left: 25%;
    width: 73%;
}

.patient-stats {
    background-color: white;
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    width: 20em;
    height: 15%;
    margin-top: 9em;
    padding: 2em;
    line-height: 250%;
    width: 30em;
}

.my-patient-table {
    border-collapse: separate;
    border-spacing: 0 1em;
    padding-top: 1em;
    font-size: 16px;
    width: 100%;
    height: 30px;
    overflow-y: scroll;
}

.my-patient-table th,
.my-patient-table td {
    text-align: center;
    width: 7em;
}

.my-patient-table td {
    font-size: 20px;
    border: solid 1px lightgrey;
    border-style: solid none;
    padding: 0.4em 0.8em;
}

.my-patient-table td:first-child {
    border-left-style: solid;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.my-patient-table td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}

.my-patient-table th {
    color: var(--dark-blue);
}

.search-section {
    padding-top: 1em;
    padding-bottom: 2em;
}

.search-section span {
    padding-right: 0.5em;
}

.patient-record i,
.patient-stats i {
    vertical-align: middle;
}


/*EXAMPLE PATIENT DETAIL PAGE (PAT/MARY SHELLEY)*/

.patient-container {
    display: flex;
    gap: 3em;
    height: 90%;
    position: absolute;
    left: 25%;
    width: 75%;
}

.patient-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
}

.patient-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    top: 56px;
    gap: 1.5em;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.patient-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patient-title-age {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.patient-title {
    font-size: 48px;
    text-align: left;
}

.patient-age {
    color: #8B8B8B;
    font-size: 26px;
}

.edit-ts {
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: var(--dark-blue);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
    vertical-align: middle;
}

.edit-ts-button {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.overview-data {
    display: grid;
    grid-template-rows: 30% 70%;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
    /* width: 20%; */
    justify-items: center;
    align-content: center;
    align-items: center;
}

.overview-data-title {
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
}

.ts-data {
    color: var(--dark-blue);
    font-size: 20px;
    background-color: var(--light-blue);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.ts-container {
    border-radius: 30px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
}

.patient-data {
    border-radius: 30px;
    padding: 1.5em;
}

.patient-data-table {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.filter-button {
    vertical-align: middle;
    float: right;
}

.details-button {
    float: right;
    height: 56px;
    line-height: 56px;
}

.note-section-top {
    display: flex;
    flex-direction: row;
    border-radius: 48px 48px 0 0;
    margin-top: 2em;
    vertical-align: middle;
    text-align: center;
}

.note-section-bottom {
    border-radius: 48px;
    padding: 2em;
}

.comment-time {
    font-size: 16px;
    text-align: left;
    padding: 0.5em 0.5em 1em 0.5em;
}

.comment-content {
    font-size: 24px;
    text-align: left;
}

.comment-box {
    border-radius: 30px;
    padding: 1.5em;
    line-height: 1.75em;
}

.select-notes {
    color: var(--light-grey-text);
    padding: 16px 64px 16px 64px;
    background-color: var(--light-blue);
    border-radius: 48px 0 0 0;
}

.select-messages {
    color: var(--dark-blue);
    padding: 0 0 16px 0;
    background-color: #ffffff;
    border-radius: 0 48px 0 0;
}

.details-statistic {
    padding-top: 30px;
    float: left;
    padding-bottom: 30px;
    width: 100%;
}

.details-statistic li {
    padding-top: 10px;
    float: left;
    display: block;
    width: 50%;
    height: 80px;
}

.details-statistic a {
    color: var(--dark-grey-text);
}


/*NEW PATIENT PAGE*/

.new-patient-main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-shrink: 0;
}

.new-patient {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    border: solid 3px;
}

.new-patient-item {
    width: 200px;
    margin: 10px;
}


/*ACCOUNT PAGE*/

#profile-container {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.profile-picture-display {
    display: block;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile-picture-container {
    width: 20%;
}

.profile-statistic {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    align-items: center;
    padding-left: 10%;
    padding-top: 5px;
    width: 80%;
}

.profile-statistic li {
    padding-right: 25%;
    padding-bottom: 20%;
}


/*SETTINGS PAGE*/


/*EDIT TIME SERIES PAGE*/

.time-series {
    display: flex;
    gap: 1em;
}

.single-time-series {
    display: flex;
    flex-direction: column;
}

.time-series-top {
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: white;
    padding: 1em;
    border-radius: 1em 1em 0 0;
    border: solid 3px var(--dark-blue);
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.time-series-bottom {
    background-color: white;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.time-series-bottom input::-webkit-outer-spin-button,
.time-series-bottom input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time-series-value {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 1em;
    width: 3em;
    padding: 0.5em;
    color: white;
}

.time-series-value:focus {
    outline: none;
    background-color: var(--button-hover)
}

input[type="checkbox"]::before {
    background-color: var(--light-grey-background);
    outline: none;
    border: none;
}

#time-series-button {
    background-color: var(--dark-blue);
    color: white;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
}

#time-series-button {
    background-color: var(--dark-blue);
    color: white;
    width: 25em;
    height: 3em;
    border-radius: 2em;
    border: 0;
}

#time-series-button:hover {
    background-color: var(--button-hover);
    transition: 0.1s;
    cursor: pointer;
}

.edit-ts-container{
    display:flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 20vh;
    align-items: center;
}
.save-botton{
    padding-top: 3em;
}

/* Add support message  & add comment*/

.dashboard-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    left: 25%;
}

.dashboard-right.centre-content {
    margin: auto;
}

.page-title-and-nav {
    display: flex;
    flex-direction: row;
    gap: 13rem;
    align-items: center;
}

.page-title-icon {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.on-top {
    position: absolute;
    transform: translate(1rem, 1rem);
}

.pop-up-container {
    display: none;
    position: fixed;
    background-color: white;
    border-radius: 1em;
    box-shadow: 2px 2px 10px rgb(204, 204, 204);
    text-align: center;
    padding-top: 2em;
    top: 40%;
    width: 300px;
    height: 325px;
    z-index: 2;
}

.pop-up-image {
    padding: 1em;
}

.pop-up-string {
    padding-top: 1em;
    padding-bottom: 2em;
}

#blue-main-page {
    background-color: var(--light-blue);
    padding: 4rem;
    border-radius: 2rem;
    height: 85vh;
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.centre-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
}

.notes-container {
    background-color: white;
    border: none;
    width: 30rem;
    height: 30rem;
    padding: 5rem 1rem 5rem 1rem;
    border-radius: 1rem;
}

#message-input {
    border: none;
    outline: none;
    vertical-align: top;
    width: 100%;
    height: 100%;
    resize: none;
}

.date-time-container,
.date-time-container:focus {
    display: flex;
    width: 30rem;
    background-color: white;
    border-radius: 1rem;
    height: 4rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}