/*STYLES FOR CLINCIAN SIDE OF DIABETES @ HOME*/


/*PLEASE NOTE THE MIDDLE SECTION OF THIS CSS FILE IS STILL A WORK IN PROGRESS*/


/*GLOBAL STYLE (ALL PAGES)*/

body {
    display: flex;
    background-color: var(--light-grey-background);
    width: 100%;
}

.clinician-main {
    position: relative;
    left: 25rem;
}

.back-button {
    color: var(--dark-blue);
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

.shadow {
    /*USE FOR SHADOWS*/
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.whitebox {
    background-color: var(--white);
}

.light-blue-box {
    background-color: var(--light-blue);
}

.main-page-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*DASHBOARD PAGE*/


/*LAYOUT FOR DASHBOARD PAGE*/

.dashboard-container {
    /*MAIN CONTAINER*/
    display: flex;
    gap: 3em;
    position: absolute;
    left: 21%;
    width: 78%;
}

.dashboard-left {
    /*SUB CONTAINER*/
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
}

.outer-container {
    /*SUB CONTAINER*/
    display: grid;
    grid-template-columns: 25% 40% 35%;
    background-color: var(--white);
    height: 100vh;
}

.mid-container {
    /*SUB CONTAINER*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.overview-info {
    /*SUB CONTAINER*/
    display: flex;
    gap: 1em;
    align-items: center;
}

.column-flex {
    display:flex;
    flex-direction: row;
    gap:1rem;
    text-align: center;
}

.legend-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.legend-text {
    max-width: 15rem;
}


/*DASHBOARD - SUB ELEMENT STYLE*/

.dropdown {
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--dark-blue);
    color: white;
    margin-left: 0.5em;
}

.dropdown:focus {
    outline: none;
    background-color: var(--button-hover);
}

.msg-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.msgbox {
    border-radius: 1rem;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
}

.check-box-small {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.mid-container,
.patient-record {
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1.5em;
}

.comment-section {
    border-radius: 3em;
    padding: 2em;
    width: 30%;
}

.selected-patient {
    font-size: 25px;
    background-color: var(--dark-blue);
    margin-right: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 20px;
}

.icon-gap {
    margin-left: 10px;
}

th {
    color: var(--dark-blue);
    text-align: middle;
    vertical-align: middle;
}

td {
    padding: 2px;
    height: 2.5em;
    width: 10em;
    text-align: middle;
    vertical-align: middle;
}


/*VIEW 'ALL PATIENT' PAGE*/


/*LAYOUT*/

.left-container {
    width: 77%;
}

.my-patient-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.patient-record {
    background-color: var(--white);
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    padding: 2em;
    margin-top: 1em;
}

.my-patient-container {
    display: flex;
    gap: 2em;
    position: absolute;
    left: 25rem;
    width: 76%;
}

.patient-stats {
    background-color: var(--white);
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    width: 20em;
    height: 15%;
    margin-top: 9em;
    padding: 2em;
    line-height: 250%;
    width: 30em;
}

.my-patient-table {
    border-collapse: separate;
    border-spacing: 0 1em;
    padding-top: 1em;
    font-size: 16px;
    width: 100%;
    height: 30px;
    overflow-y: scroll;
}


/*PATIENT TABLE LAYOUT*/

.my-patient-table th,
.my-patient-table td {
    text-align: center;
    width: 7em;
}

.my-patient-table td {
    font-size: 20px;
    border: solid 1px var(--light-grey-background);
    border-style: solid none;
    padding: 0.4em 0.8em;
    transition:0.5s;
}

.my-patient-table tr:hover td {
    background-color:var(--light-blue);
    transition:0.5s;
}

.my-patient-table td:first-child {
    border-left-style: solid;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.my-patient-table td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}

.my-patient-table th {
    color: var(--dark-blue);
}

.search-section {
    padding-top: 1em;
    padding-bottom: 2em;
}

.search-section span {
    padding-right: 0.5em;
}

.patient-record i,
.patient-stats i {
    vertical-align: middle;
}


/*VIEW SINGLE PATIENT PAGE - EXAMPLE PATIENT DETAIL PAGE (PAT/MARY SHELLEY)*/


/*LAYOUT*/

.patient-container {
    /*MAIN CONTAINER*/
    display: flex;
    gap: 3em;
    height: 90%;
    position: absolute;
    left: 25rem;
    width: 75%;
}

.patient-left {
    /*SUB CONATINER*/
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
}

.patient-right {
    /*SUB CONATINER*/
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    top: 56px;
    gap: 1.5em;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.patient-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patient-title-age {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.patient-title {
    font-size: 48px;
    text-align: left;
}

.patient-age {
    /*PATIENT STATS*/
    color: var(--dark-grey-text);
    font-size: 26px;
}

.edit-ts {
    color: var(--white);
    font-size: 16px;
    background-color: var(--dark-blue);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
    vertical-align: middle;
}


/*CUSTOM BUTTON*/

.edit-ts-button {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


/*SEARCH PATIENT FIELD*/

#pname {
    border: 3px solid var(--dark-blue);
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 2rem;
    color: var(--dark-blue);
}

#pname:hover {
    border: 3px solid var(--button-hover);
}

#pname:focus {
    background-color: var(--light-blue);
    outline: none;
}

.search-icon {
    transform: translate(70px);
}

#diabetesType {
    padding: 1rem;
    background-color: var(--dark-blue);
    border-radius: 2rem;
    color: var(--white);
    border: none;
    transition: 0.5s;
}

#diabetesType:hover {
    background-color: var(--button-hover);
}

input[type="checkbox"]:checked {
    background-color: var(--dark-blue);
}


/*PATIENT TABLE LAYOUT */

.overview-data {
    display: grid;
    grid-template-rows: 30% 70%;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
    /* width: 20%; */
    justify-items: center;
    align-content: center;
    align-items: center;
}

.overview-data-title {
    font-size: 16px;
    color: var(--dark-grey-text);
    text-align: center;
}


/*DIFFERENT STYLE COMPARED TO DASHBOARD*/

.ts-data {
    color: var(--dark-blue);
    font-size: 20px;
    background-color: var(--light-blue);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.ts-container {
    border-radius: 30px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
}

.patient-data {
    border-radius: 30px;
    padding: 1.5em;
}

.patient-data-table {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.filter-button {
    /*SPECFIC*/
    vertical-align: middle;
    float: right;
}

.details-button {
    float: right;
    height: 56px;
    line-height: 56px;
}

.note-section-top {
    display: flex;
    flex-direction: row;
    border-radius: 48px 48px 0 0;
    margin-top: 2em;
    vertical-align: middle;
    text-align: center;
}

.note-section-bottom {
    border-radius:0 0 2rem 2rem ;
    padding: 2em;
}

.comment-time {
    font-size: 16px;
    text-align: left;
    padding: 0.5em 0.5em 1em 0.5em;
}

.comment-content {
    font-size: 24px;
    text-align: left;
    max-width: 300px;
    word-break: break-word;
}

.comment-box {
    border-radius: 30px;
    padding: 1.5em;
    line-height: 1.75em;
}

.select-notes {
    color: var(--light-grey-text);
    padding: 16px 64px 16px 64px;
    background-color: var(--light-blue);
    border-radius: 48px 0 0 0;
}

.select-messages {
    color: var(--dark-blue);
    padding: 0 0 16px 0;
    background-color: var(--white);
    border-radius: 0 48px 0 0;
}

.details-statistic {
    padding-top: 30px;
    float: left;
    padding-bottom: 30px;
    width: 100%;
}

.details-statistic li {
    padding-top: 10px;
    float: left;
    display: block;
    width: 50%;
    height: 80px;
}

.details-statistic a {
    color: var(--dark-grey-text);
}


/*NEW PATIENT PAGE*/

.new-patient-main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-shrink: 0;
}

.new-patient {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    border: solid 3px;
}

.new-patient-item {
    width: 200px;
    margin: 10px;
}


/*ACCOUNT PAGE*/

#profile-container {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.profile-picture-display {
    display: block;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile-picture-container {
    width: 20%;
}

.profile-statistic {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    align-items: center;
    padding-left: 10%;
    padding-top: 5px;
    width: 80%;
}

.profile-statistic li {
    padding-right: 25%;
    padding-bottom: 20%;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.curved {
    border-radius: 1rem;
    padding:1rem;
    width: 35rem;

}

li {
    line-height: 26px;
}

.inside-container {
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 4rem;
    margin-top: 3rem;
}

.profile-pic-container {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 2rem;
}

.my-profile-pic {
    width: 15rem !important;;
}

.account-section-container {
    display:flex;
    flex-direction:column;
    gap: 2rem;
}
/*SETTINGS PAGE -- TO BE COMPLETED*/


/*EDIT TIME SERIES PAGE*/

.time-series {
    display: flex;
    gap: 3em;
}

.single-time-series {
    display: flex;
    flex-direction: column;
    width: 18em;
    align-items: stretch;
}

.time-series-top {
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: white;
    padding: 1em;
    border-radius: 2em 2em 0 0;
    border: solid 3px var(--dark-blue);
    box-shadow: 2px 2px 3px var(--box-shadow);
    justify-content: center;
    height: 75px;
}

.time-series-bottom {
    background-color: var(--white);
    padding: 1em;
    border-radius: 0 0 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    box-shadow: 2px 2px 3px var(--box-shadow);
    height: 150px;
}

.time-series-bottom input::-webkit-outer-spin-button,
.time-series-bottom input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.time-series-value {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 1em;
    width: 30%;
    padding: 1em;
    color: var(--white);
    text-align: center;
    height: 2.5rem;
}

.time-series-bottom-input {
    display: flex;
    justify-content: center;
}

.time-series-value:focus {
    outline: none;
    background-color: var(--button-hover)
}

input[type="checkbox"]::before {
    background-color: var(--light-grey-background);
    outline: none;
    border: none;
}

#time-series-button {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
}

#time-series-button {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 25em;
    height: 3em;
    border-radius: 2em;
    border: 0;
}

#time-series-button:hover {
    background-color: var(--button-hover);
    transition: 0.1s;
    cursor: pointer;
}

.edit-ts-container {
    display: flex;
    flex-direction: column;
}

.save-botton {
    padding-top: 3em;
    text-align: center;
}


/* Add support message  & add comment SECTION*/

.dashboard-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    left: 25%;
}

.dashboard-right.centre-content {
    margin: auto;
}

.page-title-and-nav {
    display: flex;
    flex-direction: row;
    gap: 13rem;
    align-items: center;
}

.page-title-icon {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.on-top {
    position: absolute;
    transform: translate(1rem, 1rem);
}

.pop-up-container {
    display: none;
    position: fixed;
    background-color: var(--white)white;
    border-radius: 1em;
    box-shadow: 2px 2px 10px var(--box-shadow);
    text-align: center;
    padding-top: 2em;
    top: 40%;
    width: 300px;
    height: 325px;
    z-index: 15;
}

.pop-up-image {
    padding: 1em;
}

.pop-up-string {
    padding-top: 1em;
    padding-bottom: 2em;
}

#blue-main-page {
    background-color: var(--light-blue);
    padding: 4rem;
    border-radius: 2rem;
    height: 85vh;
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.centre-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
}

.notes-container {
    background-color: var(--white);
    border: none;
    width: 30rem;
    height: 30rem;
    padding: 5rem 1rem 5rem 1rem;
    border-radius: 1rem;
    transition: 0.5s;
}

.notes-container:hover{
    outline: 3px solid var(--dark-blue);
    transition: 0.5s;
}

.clinician-note-container {
    background-color: var(--white);
    border: none;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
}

#message-input {
    border: none;
    outline: none;
    vertical-align: top;
    width: 100%;
    height: 100%;
    resize: none;
}

.date-time-container,
.date-time-container:focus {
    display: flex;
    width: 30rem;
    background-color: var(--white);
    border-radius: 1rem;
    height: 4rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

/*ADD NEW PATIENT PAGE*/
.add-new-patient-form {
    Display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
    gap: 2rem;
}

.form-heading {
    padding-bottom: 2rem;
}