:root {
    --dark-blue: #587BB4;
    --light-blue: #F2F7FF;
    --light-grey-background: #f0f0f0;

    --dark-grey-text: #525252;
    --light-grey-text: #8B8B8B;

    --button-hover: #2B5291;
    --box-shadow: rgba(0, 0, 0, 0.16);
    
    --alert-red: #CB0814;

    --box-shadow: rgba(136, 136, 136, 0.5);

    --white:white;
}


:root dark {
    --dark-blue: #587BB4;
    --light-blue: #0F2940;
    --light-grey-background: #0F2940;

    --dark-grey-text: #D0DFF2;
    --light-grey-text: #D0DFF2;

    --button-hover: #D0DFF2;
    --box-shadow: rgba(255, 255, 255, 0.80);
    
    --alert-red: #CB0814;

    --box-shadow: rgba(136, 136, 136, 0.5);

    --white:#061726;
}
