/*USE FOR LOGIN PAGE ONLY */

.split-screen {
    /*ON DESKTOP HAVE 2 SIDES TO THE PAGE */
    display: flex;
    flex-direction: row;
    height: 90vh;
}


/* padding -> position -> flexbox and grid */

.left {
    background-color: var(--light-grey-background);
    background-size: cover;
    width: 50%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}


/* LOGIN INPUT FIELDS - FLOATING LABELS */

input {
    outline: none;
    background-color: var(--white);
    color: var(--dark-grey-text);
    border-radius: 2rem;
    padding: 1rem;
    margin: 5px;
    resize: none;
    outline: none;
    border: 2px solid var(--white);
    transition: 0.5s ease;
    flex-shrink: 0;
}


/*MAKING FLOATING INPUTS -- when the field is clicked the label floats up*/


/*We dont want to see the placeholder of the input -- what is seen is a label*/

.hidden--visually {
    display: none;
}


/*When user types, this defines the position and the font size*/

.floating__input {
    padding: 1.8rem 1rem 0.8rem;
    font-size: 24px;
    min-width: 25rem;

}

.floating__input:hover {
    box-shadow: 3px 3px var(--dark-blue);
}

.floating__input:focus {
    border: 2px solid var(--dark-blue);
    box-shadow: none;
}


/*Placeholder invisible*/

.floating__input::placeholder {
    color: var(--white);
}


/*Initally the label is in the input position -- moves after clicking*/

.floating__label {
    display: flex;
    position: relative;
    /*On top of the input*/
    max-height: 0;
    color: var(--dark-blue);
    text-shadow: none;
}


/*Where the label sits before it is clicked -- for the full sized inputs*/

.floating__label::before {
    content: attr(data-content);
    /*used to retrieve the value of an attribute of the selected element and use it in the stylesheet*/
    display: inline-block;
    filter: blur(0);
    transform-origin: left top;
    transition: transform 0.5s ease;
    left: 1.4rem;
    position: relative;
}


/*Where the label sits before it is clicked -- for the half sized inputs*/

.half__floating__label::before {
    text-align: left;
}


/*Where the label sits before it is clicked -- for the half sized inputs*/

.floating__input:placeholder-shown+.floating__label::before {
    transform: translate3d(0, -3.3rem, 0) scale3d(1.5, 1.5, 1.5);
}

.floating__label::before,
.floating__input:focus+.floating__label::before {
    transform: translate3d(0, -3.7rem, 0) scale3d(0.7, 0.7, 1);
}

.floating__input:focus+.floating__label::before {
    color: var(--dark-blue);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.sumbit-button {
    display: block;
}

.outercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    border-radius: 3em 0 3em 0;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    gap: 2rem;
    height: 80%;
    width: 80%;
    overflow: hidden;
}

#center-word {
    text-align: center;
}

#underline {
    text-decoration: underline;
}

.copy {
    text-align: left;
    color: var(--dark-blue);
}

.logo-sub {
    display: block;
    width: 70%;
    align-items: center;
}

.tablet-image {
    display: none;
}

.logo-sub-login {
    display: none;
}

.wide-input {
    width: 44rem !important;
    background-color: var(--white);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 5px;
}

@media screen and (max-width:1300px) {
    .floating__input {
        min-width: 15rem;
        font-size: 16px;
    }

    .floating__input:placeholder-shown+.floating__label::before {
        transform: translate3d(0, -2.7rem, 0) scale3d(1, 1, 1);
    }

    .floating__label::before,
    .floating__input:focus+.floating__label::before {
        transform: translate3d(0, -3.3rem, 0) scale3d(0.7, 0.7, 1);
    }

    input {
        font-size: 16px;
    }
}

/*RESPONSIVE DESIGN FOR IPAD SIZE*/
@media screen and (max-width:1100px) {
    .split-screen {
        display: block;
        background-image: linear-gradient(to bottom right, var(--dark-blue), var(--white));
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
        height: 80vh;
    }

    .tablet-image {
        display: block;
        width: 20%;
        align-items: center;
    }

    .copy {
        display: none;
    }

    .logo-sub {
        width: 50%;
        align-items: left;
        padding-right: 10%;
    }

    .outercontainer {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        height: 80%;
        width: 50%;
        margin-top: 3rem;
    }
}

@media screen and (max-width:900px) {
    .outercontainer {
        width: 70%;
    }
}

/*RESPONSIVE DESIGN FOR IPHONES SIZE*/
@media screen and (max-width:550px) {
    .split-screen {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        justify-content: center;
        padding-top: 0;
        margin-top: 0;
    }

    .logo-sub-login {
        display: flex;
        width: 10rem;
    }

    .outercontainer {
        width: 80%;
        height: 80vh;
        padding-top: 0;
        align-items: center;
        justify-content: center;
    }

}