/*POP UP PAGE STYLES*/

/*MAINLY USED AFTER PATIENT ENTERS THEIR DATA*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 15;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.pop.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed; /*DONT WANT IT TO MOVE*/
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5); /*ADDING BACKGROUND COLOUR*/
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}