.button {
    background-color: var(--dark-blue);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3em;
    text-align: center;
}

.button:hover {
    background-color: var(--light-blue);
}

a {
    transition:0.5s;
}

a:hover {
    color: var(--dark-blue);
    transition:0.5s;
}

