body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid var(--box-shadow);
    box-sizing: border-box;
    border-radius: 20px;
    -moz-box-shadow: 2px 2px 10px var(--box-shadow);
    -webkit-box-shadow: 2px 2px 10px var(--box-shadow);
    box-shadow: 2px 2px 10px var(--box-shadow);
}

select {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid var(--box-shadow);
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 20px;
    -moz-box-shadow: 2px 2px 10px var(--box-shadow);
    -webkit-box-shadow: 2px 2px 10px var(--box-shadow);
    box-shadow: 2px 2px 10px var(--box-shadow);
}

/* .outercontainer {
    background-color: #F2F7FF;
    border-radius: 3em 0 3em 0;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    width: 60%;
    margin: auto;
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    -moz-box-shadow: 2px 2px 10px rgb(216, 216, 216);
    -webkit-box-shadow: 2px 2px 10px rgb(216, 216, 216);
    box-shadow: 2px 2px 10px rgb(204, 204, 204);
} */

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.topnav {
    background-color: var(--white);
}

.topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    color: var(--dark-blue);
}

.topnav a.active {
    background-color: var(--button-hover);
    color: var(--white);
}

footer {
    text-align: center;
    background-color: var(--white);
    color: var(--dark-grey-text);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}