.responsive-nav {
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 10vh;
    display: none;
}

.small-logo {
    width: 5rem;
    transform: translate(0, 0.5rem);
    
}

#menu-opener {
    font-size: 45px;
}

@media screen and (max-width: 1050px) {
    .responsive-nav {
        display: flex;
    }
}