.responsive-nav {
    display: none;
}

.responsive-nav-top {
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 10vh;
}

.menu-container {
    background-color: var(--dark-blue);
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 95vh;
   
}

.grid-menu {
    
}

.menu-square {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    align-items:center;
    border:3px solid white;
    border-radius:2rem;
    padding: 1rem;
}

.small-logo {
    width: 5rem;
    transform: translate(0, 0.5rem);
    
}

#menu-opener {
    font-size: 45px;
}

@media screen and (max-width: 1050px) {
    .responsive-nav {
        display: flex;
    }
}