.topnav {
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 10vh;
}

html {
    scroll-behavior: smooth;
}

.menu-flex {
    display: flex;
    gap: 2em;
    align-items:center;

}

.page {
    min-height: 100vh;
}

.small-logo {
    width: 5rem;
    transform: translate(0, 0.5rem);
    
}

/*
background colour for each section of home page
*/

#welcome-page {
    background-color: var(--light-grey-background);
    height: 90vh;
    border-radius: 0 0 10em 0;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#about-page {
    background-color: var(--light-grey-background);
    align-items: center;
    height: 90vh;
    padding: 1em;
}

#splash-img {
    width: 30%;
}
.logo-about{
    width: 40%;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 2%;
}

.logo-main {
    width: 100%;
}

#what-is-diabetes {
    padding:2em;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 2em;
}

.flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.aboutWeb {
    padding: 1% 25%;
    text-align: center;
}

#blue-circle {
    width:5rem;
}
#homepage-links {
    background-color: var(--light-blue);
    border-radius: 10em 0 0 0;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.link-logo {
    width: 10rem;
}

.links-flex {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.individual-link {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    justify-content: center;
    background-color:white;
    padding: 2rem;
    border-radius:3rem;
    box-shadow: 3px 3px var(--box-shadow);
    transition:0.5s;
}

.individual-link:hover {
    box-shadow: 5px 5px var(--dark-blue);
    transition:0.5s;
}

a {
    color: var(--dark-text);
    text-decoration: none;
}

.info-link {
    color: var(--dark-blue);
    text-decoration: none;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

footer {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

.wordSapcing{
    word-spacing: 15px;
}