body {
    font-family: "Lato", sans-serif;
    margin:0
}

.top {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    background-color: rgb(243, 243, 243);
}

.logInfo {
    font-size: 30px;
    color: #587BB4;
    text-align: center;
    padding: 30px;
    background-color: rgb(245, 245, 245);
}

.noteSection {
    font-size: 20px;
    padding: 30px;
    background-color: white;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(223, 223, 223);
}

#dateTimeSection{
    font-size: 20px;
    padding: 30px;
    background-color: white;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(223, 223, 223);
    text-align: center;
    vertical-align: middle;
}

::placeholder {
    color: white;
}

button {
    background-color: #587BB4;
    color: white;
    padding: 15px 20px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
}

textarea{
    width: 100%;
    margin-top: 10px;
}

i{
    font-size: 30px;
    color: #587BB4 ;
}

#currentTime{
    border: 0;
    font-size: 1em;
    width: 150px;
    font: inherit;
    color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    width: 95%;
    padding: 15px 40px;
    margin: 10px 0;
    display: inline-block;
    background-color: #587BB4;
    color: white;
    border: 0;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(223, 223, 223);
}