.split-screen{
    display: flex;
    flex-direction: column;
}

.left copy{
    font-size: var();
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.left .right{
    display: flex;
    justify-content: center;
}

.left{
    background-color: var(--light-grey-background);
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding-left: 10em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.right{
    padding-left: 1em;
    padding-right: 1em;
}

.right .copy p{ 
    text-align: left;
    margin: 1.5em 0;
}

.logo-sub {
    display: block;
    margin-right: auto;
    width: 60%;
    align-items: center;
}

.centerLogin{
    align-items: center;
}

@media screen and (min-width:1024px) {
    .split-screen{
        flex-direction: row;
        height: 90vh;
    }

    .left,.right{
        display: flex;
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width:365) {
    .split-screen{
        flex-direction: row;
        height: 90vh;
    }

    .left,.right{
        display: flex;
        width: 50%;
        height: auto;
    }

    h2 {
        font-size: 24px
    }
}