/*ALL PAGES*/
.back-button {
    color: var(--dark-blue);
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

.shadow {
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.whitebox {
    background-color: white;
}

.light-blue-box {
    background-color: var(--light-blue);
}

.main-page-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color:var(--dark-blue);
}

/*DASHBOARD*/
.dashboard-container {
    display: flex;
    gap:3em;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.outer-container {
    display: grid;
    grid-template-columns: 25% 40% 35%;
    background-color: rgb(241, 241, 241);
    height: 100vh;
}

.mid-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.overview-info {
    display: flex;
    gap: 0.5em;
    align-items:center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--dark-blue);
    color: white;
    margin-left: 0.5em;
}

.dropdown:focus {
    outline:none;
    background-color: var(--button-hover)
}

.msg-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.msgbox{
    border-radius: 0.5em;
}

.check-box-small{
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.mid-container,
.patient-record{
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
}

.comment-section{
    border-radius: 3em;
    padding: 2em;
}


.selected-patient{    
    font-size: 25px;
    background-color: var(--dark-blue);
    margin-right: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 20px;
}

.icon-gap{
    margin-left: 10px;
}


th {
    color: var(--dark-blue);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}

td {
    padding: 5px;
    height: 3em;
    width: 10em;
}

/*ALL PATIENT PAGE*/
.patient-record {
    background-color: white;
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    padding: 2em;
    margin-top: 1em;
}

.patient-stats {
    background-color: white;
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    width: 20em;
    height: 20%;
    margin-top: 9.5em;
    padding: 2em;
    line-height: 250%;
}

.my-patient-table {
    border-collapse: separate;
    border-spacing: 0 1em;
    margin-top: -1em;
}

.my-patient-table th,
.my-patient-table td {
    text-align: center;
    width: 7em;
}


.my-patient-table td {
    border: solid 1px lightgrey;
    border-style: solid none;
    padding: 0.8em;
}

.my-patient-table td:first-child {
    border-left-style: solid;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.my-patient-table td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}

.my-patient-table th {
    color: var(--dark-blue);
}

.my-patient-table a {
    background-color: var(--dark-blue);
    color: white;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
}

/*EXAMPLE PATIENT PAGE (PAT/MARY SHELLEY)*/

.my-patient-table a:hover {
    background-color: var(--button-hover);
    transition: 0.1s;
}

.search-section {
    margin-top: 1em;
    margin-bottom: 2em;
}

.search-section span {
    margin-right: 0.5em;
}

.patient-record i,
.patient-stats i {
    vertical-align: middle;

}
/*NEW PATIENT PAGE*/

/*ACCOUNT PAGE*/

/*SETTINGS PAGE*/



/*EDIT TIME SERIES PAGE*/
.time-series {
    display: flex;
    gap: 1em;
}
.single-time-series {
    display: flex;
    flex-direction: column;
}
.time-series-top {
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: solid 3px var(--dark-blue);
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.time-series-bottom {
    background-color:white;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.time-series-value {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 1em;
    width:3em;
    padding: 0.5em;
    color: white;
}

.time-series-value:focus {
    outline: none;
    background-color: var(--button-hover)

}

input[type="checkbox"]::before {
    background-color: var(--light-grey-background);
    outline: none;
    border: none;
}
