/*ALL PAGES*/

body {
    display: flex;
    gap: 3em;
    background-color: var(--light-grey-background)
}

.back-button {
    color: var(--dark-blue);
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
}

.shadow {
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.whitebox {
    background-color: white;
}

.light-blue-box {
    background-color: var(--light-blue);
}

.main-page-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}


/*DASHBOARD*/

.dashboard-container {
    display: flex;
    gap: 3em;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.outer-container {
    display: grid;
    grid-template-columns: 25% 40% 35%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.mid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.overview-info {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--dark-blue);
    color: white;
    margin-left: 0.5em;
}

.dropdown:focus {
    outline: none;
    background-color: var(--button-hover)
}

.msg-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.msgbox {
    border-radius: 1rem;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
}

.check-box-small {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.mid-container,
.patient-record {
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
}

.comment-section {
    border-radius: 3em;
    padding: 2em;
    margin-right: 2em;
}

.selected-patient {
    font-size: 25px;
    background-color: var(--dark-blue);
    margin-right: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 20px;
}

.icon-gap {
    margin-left: 10px;
}

th {
    color: var(--dark-blue);
    text-align: middle;
    vertical-align: middle;
}

td {
    padding: 2px;
    height: 2.5em;
    width: 10em;
    text-align: middle;
    vertical-align: middle;
}


/*ALL PATIENT PAGE*/

.patient-record {
    background-color: white;
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    padding: 2em;
    margin-top: 1em;
}

.my-patient-container {
    display: flex;
    gap: 2em;
}

.patient-stats {
    background-color: white;
    box-shadow: 2px 2px 3px var(--box-shadow);
    border-radius: 2em;
    width: 20em;
    height: 15%;
    margin-top: 7em;
    padding: 2em;
    line-height: 250%;
}

.my-patient-table {
    border-collapse: separate;
    border-spacing: 0 1em;
    margin-top: -1em;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    height: 33.5em;
    overflow-y: scroll;
}

.my-patient-table th,
.my-patient-table td {
    text-align: center;
    width: 7em;
}

.my-patient-table td {
    font-size: 20px;
    border: solid 1px lightgrey;
    border-style: solid none;
    padding: 0.4em 0.8em;
}

.my-patient-table td:first-child {
    border-left-style: solid;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.my-patient-table td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}

.my-patient-table th {
    color: var(--dark-blue);
}

.my-patient-table a {
    background-color: var(--dark-blue);
    color: white;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
}

.my-patient-table a:hover {
    background-color: var(--button-hover);
    transition: 0.1s;
}

.search-section {
    margin-top: 1em;
    margin-bottom: 2em;
}

.search-section span {
    margin-right: 0.5em;
}

.patient-record i,
.patient-stats i {
    vertical-align: middle;
}


/*EXAMPLE PATIENT DETAIL PAGE (PAT/MARY SHELLEY)*/

.patient-container {
    display: grid;
    gap: 3em;
    grid-template-columns: 55% 45%;
    margin: 0 5em 0 0;
    height: 1015px;
}

.patient-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.patient-right {
    display: flex;
    flex-direction: column;
}

.patient-title-row {
    vertical-align: middle;
    height: 56px;
}

.patient-title {
    font-size: 48px;
    text-align: left;
    vertical-align: middle;
    width: 50%;
}

.patient-age {
    color: #8B8B8B;
    font-size: 26px;
    padding: 0em 0.8em 0em;
    vertical-align: middle;
}

.edit-ts {
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: var(--dark-blue);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
    vertical-align: middle;
}

.edit-ts-button {
    float: right;
    height: 56px;
    line-height: 56px;
}

.overview-data {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.overview-data-title {
    font-size: 16px;
    color: #8B8B8B;
}

.ts-data {
    color: var(--dark-blue);
    font-size: 20px;
    background-color: var(--light-blue);
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 1em;
    vertical-align: middle;
    text-align: center;
    width: 85%;
}

.ts-container {
    border-radius: 30px;
    margin-bottom: 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.patient-data {
    border-radius: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
}

.patient-data-table {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.filter-button {
    vertical-align: middle;
    float: right;
}

.details-button {
    margin-top: 56px;
    float: right;
    height: 56px;
    line-height: 56px;
}

.note-section-top {
    display: flex;
    flex-direction: row;
    border-radius: 48px 48px 0 0;
    margin-top: 2em;
    vertical-align: middle;
    text-align: center;
}

.note-section-bottom {
    border-radius: 0 0 48px 48px;
    margin-bottom: 16px;
    padding: 2em;
}

.comment-time {
    font-size: 16px;
    text-align: left;
    padding: 2em;
}

.comment-content {
    font-size: 24px;
    text-align: left;
}

.comment-box {
    border-radius: 30px;
    padding: 1.5em;
    margin-top: 1em;
    line-height: 1.75em;
}

.select-notes {
    color: var(--light-grey-text);
    padding: 16px 64px 16px 64px;
    background-color: var(--light-blue);
    border-radius: 48px 0 0 0;
}

.select-messages {
    color: var(--dark-blue);
    padding: 16px 48px 16px 32px;
    background-color: #ffffff;
    border-radius: 0 48px 0 0;
}

.details-statistic {
    padding-top: 30px;
    float: left;
    padding-bottom: 30px;
    width: 100%;
}

.details-statistic li {
    padding-top: 10px;
    float: left;
    display: block;
    width: 50%;
    height: 80px;
}

.details-statistic a {
    color: var(--dark-grey-text);
}


/*NEW PATIENT PAGE*/

.new-patient-body {
    width: auto;
}

.new-patient-main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
}

.new-patient-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.new-patient-item {
    display: flex;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 3px var(--box-shadow);
    width: 40%;
    background-color: white;
}


/*ACCOUNT PAGE*/

#profile-container {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.profile-picture-display {
    display: block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.profile-statistic {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    align-items: center;
    padding-left: 100px;
    padding-top: 5px;
}

.profile-statistic li {
    padding-right: 300px;
    padding-bottom: 100px;
}


/*SETTINGS PAGE*/


/*Add support Message*/

.support-message-outside-container {
    width: 90%;
    height: 500px;
    border: 2px solid var(--dark-blue);
    border-radius: 30px;
    padding-top: 1em;
    padding-left: 1em;
}

.support-message-inside-container {
    height: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

#support-message-input {
    border: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    outline: none;
    vertical-align: top;
}

.note-container {
    display: flex;
    gap: 1em;
}


/*EDIT TIME SERIES PAGE*/

.time-series {
    display: flex;
    gap: 1em;
}

.single-time-series {
    display: flex;
    flex-direction: column;
}

.time-series-top {
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: solid 3px var(--dark-blue);
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.time-series-bottom {
    background-color: white;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.time-series-value {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 1em;
    width: 3em;
    padding: 0.5em;
    color: white;
}

.time-series-value:focus {
    outline: none;
    background-color: var(--button-hover)
}

input[type="checkbox"]::before {
    background-color: var(--light-grey-background);
    outline: none;
    border: none;
}