body {
    background-color: white;
}

.leaderboard-body {
    display: flex;
}

#responsive-nav {
    display: none;
    position: absolute;
    z-index: 1;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-top: 5rem;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-left {
    width: 25rem;
}

.dashboard-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input[type=checkbox] {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--light-grey);
}

input[type=checkbox]:focus {
    outline: none;
    gap: 3rem;
    margin: 3rem;
}

input:focus {
    outline: none;
}

a.white-text {
    color: white;
}

#blue-main-page {
    background-color: var(--light-blue);
    padding: 4rem;
    border-radius: 2rem;
    height: auto;
    box-shadow: 2px 2px 3px var(--box-shadow);
}

/*LOG PAGE*/
.log-container {
    gap: 2rem;
}


/*ICON MENU*/

.white-text {
    color: white;
}


/*DASHBOARD*/

.top-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48rem;
}

.doctor-comment-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.doctor-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.doctor-comment {
    background-color: var(--light-grey-background);
    text-align: center;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow: 2px 2px 3px var(--box-shadow);
    width: 93%;
}

.my-checklist {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    text-align: left;
    min-width: max-content;
    width: 40rem;
    ;
    width: 60%;
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.checklist-item {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    align-items: center;
}

.filled {
    outline: 3px solid var(--dark-blue);
    padding: 1.5rem !important;
}

.data-icon {
    font-size: 32px !important;
}

.check-icon {
    font-size: 40px !important;
}

.time-entered-box {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
}

.checklist-left {
    gap: 2rem;
    align-items: center;
}

.inside-left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 40%;
    margin-right: 3rem;
}

.my-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    background-color: var(--light-blue);
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 3px var(--box-shadow);
}

.checkbox {
    background-color: var(--light-grey-background);
    box-shadow: 2px 2px 3px var(--box-shadow);
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.nav-line {
    display: none;
}


/*Leaderboard*/

.record {
    background-color: #ffffff;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    -moz-box-shadow: 2px 2px 10px rgb(216, 216, 216);
    -webkit-box-shadow: 2px 2px 10px rgb(216, 216, 216);
    box-shadow: 2px 2px 10px rgb(204, 204, 204);
    font-size: 18px;
    text-align: center;
}

.medal {
    float: left;
    font-size: 60px;
    margin: -20px;
}

.leaderboard-box {
    background-color: #f2f7ff;
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 20px;
    text-align: center;
}

.leaderboard-table {
    width: 95%;
    text-align: center;
    padding: 1em;
}

.leaderboard-table th,
.leaderboard-table td {
    text-align: "center";
    vertical-align: middle;
}

.infobar {
    display: none;
}

.leaderboard-container {
    width: 100%;
    text-align: center;
}


/*ENTER TIME SERIES*/

.ts-body {
    display: grid;
    background-color: white;
    grid-row-gap: 1rem;
}

.ts-container {
    padding-top: 2rem;
}

.page-title-and-nav {
    display: flex;
    flex-direction: row;
    gap: 13rem;
    align-items: center;
}

.page-title-icon {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

input.enter-data-box,
input.enter-data-box:focus {
    background-color: var(--dark-blue);
    border-radius: 20rem;
    height: 3rem;
    color: white;
    border: none;
    width: 15rem;
}

input.enter-data-box::placeholder,
input.enter-data-box:focus {
    color: white;
    padding: 1rem;
}

.dashboard-right.centre-content {
    margin: auto;
}

.date-time-container,
.date-time-container:focus {
    display: flex;
    width: 30rem;
    background-color: white;
    border-radius: 1rem;
    height: 4rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.notes-container {
    background-color: white;
    border: none;
    width: 30rem;
    height: 30rem;
    padding: 5rem 1rem 5rem 1rem;
    border-radius: 1rem;
}

#message-input {
    border: none;
    outline: none;
    vertical-align: top;
    width: 100%;
    height: 100%;
    resize: none;
}

.pop-up-container {
    display: none;
    position: fixed;
    background-color: white;
    border-radius: 1em;
    box-shadow: 2px 2px 10px rgb(204, 204, 204);
    text-align: center;
    padding-top: 2em;
    top: 40%;
    width: 300px;
    height: 325px;
}

.pop-up-image {
    padding: 1em;
}

.pop-up-string {
    padding-top: 1em;
    padding-bottom: 2em;
}

.on-top {
    position: absolute;
    transform: translate(1rem, 1rem);
}

.centre-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
}

@media screen and (max-width: 1900px) {
    .my-checklist {
        width: 30rem;
    }
    .top-page {
        gap: 40rem;
    }
}

@media screen and (max-width: 1050px) {
    body {
        background-color: white;
        display: block;
    }
    .leaderboard-body {
        display: block;
    }
    nav {
        display: none !important;
    }
    .body-checklist {
        background-color: var(--light-blue);
    }
    .responsive-nav {
        display: flex;
        width: 100%;
    }
    .nav-line {
        display: flex;
    }
    .dashboard-container {
        display: block;
    }
    .page-padding {
        padding: 2rem 2rem 0 2rem;
        width: 100%
    }
    .inside-left {
        flex-direction: row;
        padding-bottom: 2rem;
        margin: auto;
        width: 61rem;
    }
    .doctor-comment {
        background-color: var(--light-grey-background);
    }
    .doctor-comment-box {
        width: 50%;
    }
    .my-stats {
        width: 50%;
        background-color: var(--light-blue);
    }
    .main-content {
        flex-direction: column;
        text-align: center;
        width: 989px;
    }
    .my-checklist {
        width: 40rem;
        margin: auto;
        width: 85%;
        background-color: var(--light-blue);
    }
    .checklist-item {
        background-color: white;
    }
    .infobar {
        display: block;
        font-size: 30px;
        color: #587BB4;
        text-align: center;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }
    .top-page {
        gap: 27rem;
    }
    /*checklist*/
    .messageArea {
        background-color: white;
        box-shadow: 2px 2px 10px rgb(204, 204, 204);
        padding: 1em;
        margin-top: 5em;
        margin-left: 5em;
        border-radius: 3em;
        width: 50%;
        text-align: center;
    }
    .messageBox {
        padding-top: 0;
        text-align: center;
    }
    .messageArea {
        width: 90%;
        margin: 3em 1em 1em 3em;
        color: none;
        background-color: var(--light-blue);
        box-shadow: none;
    }
    #blue-main-page {
        width: 1050px;
        box-shadow: none;
        border-radius: 0;
        height: auto;
    }
    .page-title-and-nav {
        width: 1050px;
        padding-left: 2rem;
        gap: 25rem;
    }
    .button-width-20 {
        width: 15rem;
    }
    .centre-flex {
        gap: 2rem;
    }
    .ts-container {
        padding-top: 0;
    }
}

@media screen and (max-width: 550px) {
    .page-title {
        width: 60%;
        font-size: 24pt;
    }
    .doctor-comment-box {
        width: 100%;
    }
    .my-stats {
        width: 90%;
    }
    .inside-left {
        flex-direction: column;
        width: 100%
    }
    .dashboard-box {
        width: 100%;
        margin: 0;
    }
    .leaderboard-table th {
        font-size: 14px;
    }
    .leaderboard-table td {
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    .my-stats {
        width: 100%;
    }
    .page-padding {
        padding: 0;
    }
    .top-page {
        gap: 1rem;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .page-title {
        min-width: 250px;
    }
    .main-content {
        width: 350px;
    }
    .my-checklist {
        width: 375px;
        padding-left: 3rem;
        border-radius: 0;
    }
    .checklist-left {
        gap: 0.5rem;
    }
    .time-entered-box {
        padding-left: 0.5rem;
        gap: 0;
    }
    .checklist-item {
        padding: 2rem 1rem;
    }
    .inside-left {
        width: 370px;
        align-items: center;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .check-icon {
        font-size: 24px !important;
    }
    .data-icon {
        font-size: 24px !important;
    }
    .messageArea {
        width: 90%;
        margin: 2em 1em 1em 2em;
    }
    #blue-main-page {
        width: 100%;
    }
    .page-title-and-nav {
        width: 375px;
        padding-left: 2rem;
        gap: 3.5rem;
    }
    .date-time-container,
    .date-time-container:focus {
        width: 20rem;
    }
    .notes-container {
        width: 20rem;
    }
}