body {
    background-color: white;
}

.dashboard-container {
    width: 100%;
    text-align: center;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 2rem;
}

input[type=checkbox] {
    height:1.5rem;
    width:1.5rem;
    color: var(--light-grey)
}
input:focus {
    outline: none;
}

a.white-text {
    color: white;
}

/*ICON MENU*/
.white-text {
    color: white;
}



/*DASHBOARD*/

.top-page {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.doctor-comment-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.doctor-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.doctor-comment {
    background-color: var(--light-grey-background);
    text-align: center;
    padding: 1rem;
    border-radius:5rem;
    box-shadow: 2px 2px 3px var(--box-shadow);

}

.my-checklist {
    background-color:var(--light-blue);
    display:flex;
    flex-direction:column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    width: 50%;
}

.checklist-item {
    background-color:white;
    border-radius: 1.5rem;
    padding: 2rem;
    align-items: center;
}

 .filled {
   outline: 3px solid var(--dark-blue);
   padding:1.5rem !important;
}

.data-icon {
    font-size: 32px !important;
}
.check-icon {
    font-size: 40px !important;
}
.time-entered-box {
    display:flex;
    justify-content:flex-start;
    gap: 0.5rem;
    align-items: center;
}

.checklist-left {
    gap: 2rem;
    align-items: center;
}

.inside-left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50%;
    margin-right: 3rem;
}
.my-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:var(--light-blue);
    padding: 2rem;
    border-radius:2rem;
}

.checkbox {
    background-color: var(--light-grey-background);
    box-shadow: 2px 2px 3px var(--box-shadow);
    padding: 0.8rem;
    border-radius: 0.5rem;
}
@media screen and (max-width: 1050px) {
    .responsive-nav {
        display: flex;
    }

    .nav-line{
        display: flex;
    }
    
    body {
        display: block;
    }

    .page-padding {
        padding: 2rem;
    }

    .inside-left {
        flex-direction: row;
        padding-bottom: 2rem;
        margin-right: 1rem;
        width: 100%;

    }
    .doctor-comment-box{
        width: 50%;
    }
    .my-stats{
        width: 50%;
        margin-right: 1rem;
    }

    nav {
        display:none;
    }

    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .my-checklist {
        width:92%;
    }

    .infobar{
        display: block;
        font-size: 30px;
        color: #587BB4;
        text-align: center;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 550px) {

    .page-title {
        width:60%;
        font-size:24pt;
    }
    .inside-left {
        flex-direction: column;
        padding-bottom: 3rem;
        width: 100%;
    }
    .doctor-comment-box{
        width: 100%;
    }
    .my-stats{
        width: 90%;
    }

    .dashboard-box{
        width: 100%;
        margin: 0;
    }

    .leaderboard-table th{
        font-size: 14px;
    }
    .leaderboard-table td {
        font-size: 16px;
}
}